@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-color : #282828;
    --primary-color : #28A745;
    --secondary-color : #10411B;
    --complementary-color : #009eca;
  }
  