@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #282828;
  --primary-color: #28a745;
  --secondary-color: #10411b;
  --complementary-color: #009eca;
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-coverflow';